// Footer
if page == 'small'
  footer.footer.footer--small
    .section__container
      
      .footer__social
        a(href="#!" target="_blank")
          i.fa.fa-instagram
        a(href="#!" target="_blank")
          i.fa.fa-facebook
        a(href="#!" target="_blank")
          i.fa.fa-google-plus
      
      .footer__link
        ul
          li: a(href="#!") Связаться с нами
          li: a(href="#!") Политика конфиденциальности
          li: a(href="#!") Параметры ретуширования

else if page == 'full'
  footer.footer.footer--full
    .section__container
      
      .footer__social
        a(href="#!" target="_blank")
          i.fa.fa-instagram
        a(href="#!" target="_blank")
          i.fa.fa-facebook
        a(href="#!" target="_blank")
          i.fa.fa-google-plus
      
      .footer__link
        ul
          li: a(href="#!") Связаться с нами
          li: a(href="#!") Политика конфиденциальности
          li: a(href="#!") Параметры ретуширования
          
else if page == 'longread'
  footer.footer.footer--longread
    .section__container
      
      .footer__social
        a(href="#!" target="_blank")
          i.fa.fa-instagram
        a(href="#!" target="_blank")
          i.fa.fa-facebook
        a(href="#!" target="_blank")
          i.fa.fa-google-plus
      
      .footer__link
        ul
          li: a(href="#!") Связаться с нами
          li: a(href="#!") Политика конфиденциальности
          li: a(href="#!") Параметры ретуширования
else
  footer.footer
    .section__container
      
      .footer__social
        a(href="#!" target="_blank")
          i.fa.fa-instagram
        a(href="#!" target="_blank")
          i.fa.fa-facebook
        a(href="#!" target="_blank")
          i.fa.fa-google-plus
      
      .footer__link
        ul
          li: a(href="#!") Связаться с нами
          li: a(href="#!") Политика конфиденциальности
          li: a(href="#!") Параметры ретуширования
