if page == 'small'
  header#header.header.header--small
    .header__container
      
      .header__logo
        a(href="#!")
          +logo
          strong Retouch Body
          span Make your best photo

      button(type="button").header__mobile
        i.fa.fa-bars(aria-hidden='true')

      .header__navigation
        .header__lang
          .header__lang-current
            span 
            i.fa.fa-angle-down
          ul
            li.active: span Рус
            li: a(href="#!") Eng
            li: a(href="#!") Укр
            li: a(href="#!") Pl
          
        nav.navigation(role="navigation")
          ul
            li
              a(href="#!") Категории
            li
              a(href="#!") Статьи
            li
              a(href="#!") Связаться с нами
              
else if page == 'full'
  header#header.header.header--full
    .header__container
      
      .header__logo
        a(href="#!")
          +logo
          strong Retouch Body
          span Make your best photo

      button(type="button").header__mobile
        i.fa.fa-bars(aria-hidden='true')

      .header__navigation
        .header__lang
          .header__lang-current
            span 
            i.fa.fa-angle-down
          ul
            li.active: span Рус
            li: a(href="#!") Eng
            li: a(href="#!") Укр
            li: a(href="#!") Pl
          
        nav.navigation(role="navigation")
          ul
            li
              a(href="#!") Категории
            li
              a(href="#!") Статьи
            li
              a(href="#!") Связаться с нами
              
else if page == 'category'
  header#header.header.header--category
    .header__container
      
      .header__logo
        a(href="#!")
          +logo
          strong Retouch Body
          span Make your best photo

      button(type="button").header__mobile
        i.fa.fa-bars(aria-hidden='true')

      .header__navigation
        .header__lang
          .header__lang-current
            span 
            i.fa.fa-angle-down
          ul
            li.active: span Рус
            li: a(href="#!") Eng
            li: a(href="#!") Укр
            li: a(href="#!") Pl
          
        nav.navigation(role="navigation")
          ul
            li
              a(href="#!") Категории
            li
              a(href="#!") Статьи
            li
              a(href="#!") Связаться с нами
              
else if page == 'categoryActive'
  header#header.header.header--categoryActive
    .header__container
      
      .header__logo
        a(href="#!")
          +logo
          strong Retouch Body
          span Make your best photo

      button(type="button").header__mobile
        i.fa.fa-bars(aria-hidden='true')

      .header__navigation
        .header__lang
          .header__lang-current
            span 
            i.fa.fa-angle-down
          ul
            li.active: span Рус
            li: a(href="#!") Eng
            li: a(href="#!") Укр
            li: a(href="#!") Pl
          
        nav.navigation(role="navigation")
          ul
            li
              a(href="#!") Категории
            li
              a(href="#!") Статьи
            li
              a(href="#!") Связаться с нами
              
else if page == 'longread'
  header#header.header.header--longread
    .header__container
      
      .header__logo
        a(href="#!")
          +logo
          strong Retouch Body
          span Make your best photo

      button(type="button").header__mobile
        i.fa.fa-bars(aria-hidden='true')

      .header__navigation
        .header__lang
          .header__lang-current
            span 
            i.fa.fa-angle-down
          ul
            li.active: span Рус
            li: a(href="#!") Eng
            li: a(href="#!") Укр
            li: a(href="#!") Pl
          
        nav.navigation(role="navigation")
          ul
            li
              a(href="#!") Категории
            li
              a(href="#!") Статьи
            li
              a(href="#!") Связаться с нами

else
  header#header.header
    .header__container
      
      .header__logo
        a(href="#!")
          +logo
          strong Retouch Body
          span Make your best photo

      button(type="button").header__mobile
        i.fa.fa-bars(aria-hidden='true')

      .header__navigation
        .header__lang
          .header__lang-current
            span 
            i.fa.fa-angle-down
          ul
            li.active: span Рус
            li: a(href="#!") Eng
            li: a(href="#!") Укр
            li: a(href="#!") Pl
          
        nav.navigation(role="navigation")
          ul
            li
              a(href="#!") Категории
            li
              a(href="#!") Статьи
            li
              a(href="#!") Связаться с нами

        
      
